extends ../_layouts/base

include ../_modules/hero/hero
include ../_modules/dropdown/dropdown
include ../_modules/slider/slider

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.ships
        +hero(site.data.ships.hero.title, site.data.ships.hero.desc, site.data.ships.hero.img)
            each item in site.data.ships.content
                p= item
            
            h2 All our ships
            .item-list
                each item in site.data.ships.list
                    .item-list__item
                        .item-list__slider-col
                            +slider('item-list__slider')
                                each photo in item.photos
                                    .item-list__slide
                                        img(src=photo)
                                        
                        .item-list__data-col
                            h3= item.name
                            p= item.desc
                            ul.features
                                each feat in item.features
                                    li
                                        i(class="fa fa-#{feat.icon}") 
                                        span= feat.desc 
                            +dropdown(item.trips)
                            +dropdown(item.destinations)
                            a._button.-small(href="/activity-detail") Ver más >>
                            
